/*
 * Author: Jiangyuan Li
 * Version: 10.2
 * Date: 2025-02-23
 */

/* All styles */

@font-face {
    font-family: 'Source Han Sans';
    font-weight: normal;
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2);
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: bold;
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-regular.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: italic;
    font-weight: normal;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-italic.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-700.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-700italic.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-800.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 800;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-800italic.woff2);
}

#bartender {
    width: 87px;
    height: 50px;
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    transition: all 0.2s;
}

#bartender.active {
    width: 100vw;
    height: 100vh;
    background-color: rgba(249, 249, 249, 0.5);
}

#home {
    height: 30px;
    aspect-ratio: 223/100;
    background-image: url(../images/home-button-light.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 10px;
}

#more {
    width: calc(100vw - 36px);
    height: calc(100% - 43px);
    margin-top: 15px;
    overflow: hidden;
    color: transparent;
    scale: 95%;
    transition: all 0.3s;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
}

#bartender.active #more {
    color: #000;
    scale: 100%;
}

#more-letter {
    width: 80%;
    text-align: justify;
}

#more-links {
    width: calc(20% - 10px);
    margin-left: 10px;
}

.more-link {
    font-family: 'Source Han Sans', 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.more-link a {
    color: unset;
    text-decoration: none;
}

.more-title {
    font-family: 'Source Han Sans', 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.more-text {
    font-family: 'Source Han Sans', 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
}

@media (prefers-color-scheme: dark) {
    #home {
        background-image: url(../images/home-button-dark.svg);
    }

    #bartender.active #more {
        color: #fff !important;
    }

    #bartender.active {
        background-color: rgba(25, 25, 25, 0.5);
    }
}

@media (max-width: 768px) {
    #more {
        display: block;
    }

    #more-links,
    #more-letter {
        width: 100%;
        margin-top: 15px;
    }
}

#back-to-top {
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(238, 238, 238, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px #eee;
    border-radius: 5px;
    color: #000;
    z-index: 30;
    transition: all 0.2s;
}

#back-button {
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

#back-to-top:hover #back-button,
#back-to-top:hover {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.50);
}

@media (prefers-color-scheme: dark) {
    #back-to-top {
        color: #fff !important;
    }

    #back-to-top {
        background-color: rgba(68, 68, 68, 0.85) !important;
        border: solid 1px #444 !important;
    }
}

#content-unit {
    margin-top: 100px;
    text-align: justify;
    transition: all 0.2s;
    font-family: 'Figtree', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content-unit.active,
footer.active {
    filter: blur(12px);
}

#heading {
    font-family: 'Figtree', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}

#text-n {
    font-family: 'Figtree', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.pages-container {
    padding: 15px;
    border: solid 1px #eee;
    border-radius: 8px;
    text-align: justify;
}

#en-warn {
    width: fit-content;
    padding: 5px;
    border: solid 1px #eee;
    border-radius: 8px;
    font-weight: bold;
}

a {
    color: unset;
}

svg {
    height: 0.9em;
    max-height: 1em;
    fill: black;
}

@media (prefers-color-scheme: dark) {
    svg {
        fill: white;
    }
}

#copyright-info {
    font-family: 'Figtree', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 15px;
}

#copyright-info a {
    text-decoration: none;
}

main {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 60px;
}

/* index.html */

#index-light {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#f5f2ef, white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

@media (prefers-color-scheme: dark) {
    #index-light {
        background-image: linear-gradient(#363534, black) !important;
    }

    .index-good {
        border-color: white !important;
    }
}

.index-canvas {
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: lighter;
}

.index-canvas #text-n {
    font-size: 22px;
}

.index-good {
    width: fit-content;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 10px;
}

#index-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#index-canvas-1 {
    margin-left: 15px;
    margin-right: 15px;
}

#index-canvas-1 #heading {
    font-weight: lighter;
}

@media (max-width: 430px) {
    #index-col {
        display: unset;
    }

    .index-a-title {
        top: unset !important;
        bottom: 6em;
    }
}

.index-activity {
    width: calc(100% - 30px);
    height: 405px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    background-size: 720px 405px;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.index-activity:active {
    scale: 98%;
}

#index-activity-1::before,
#index-activity-1::after {
    display: block;
    position: absolute;
    top: -40px;
    left: 5%;
    width: 90%;
    height: 40px;
    background-image: radial-gradient(ellipse at top, #fff9f3 40%, #ffbca3);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    content: '← view previous activities';
    font-family: 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

#index-activity-1::after {
    width: 80%;
    height: 25px;
    left: 10%;
    top: -65px;
    background-image: radial-gradient(ellipse at top, #fff9f3 40%, hwb(36 64% 0%));
    content: '';
}

#index-activity-1 {
    background-image: url(../images/activity-1.webp);
    background-color: #ffbca3;
    margin-top: 140px;
}

.index-a-title {
    position: absolute;
    right: 40px;
    top: 10px;
    text-align: right;
}

.index-a-title p {
    font-weight: bold;
    font-size: 30px !important;
}

@media (prefers-color-scheme: dark) {
    #index-activity-1::before {
        background-image: radial-gradient(ellipse at top, hwb(16 4% 40%) 10%, hsl(30, 100%, 8%));
    }

    #index-activity-1::after {
        background-image: radial-gradient(ellipse at top, hwb(26 0% 56%) 10%, hsl(30, 100%, 8%));
    }

    #index-activity-1 {
        background-color: hwb(16 0% 66%);
    }
}

#remainTime {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ITC Garamond Narrow', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#days,
#hours,
#minutes,
#seconds {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seconds {
    margin-right: 0px;
}

#one,
#two,
#three,
#four {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url(../fonts/SpaceGrotesk[wght].woff2);
}

#index-activity-2 {
    background-image: url(../images/GRAMMYS_2025_HERO_6.webp);
    background-color: #28476F;
    color: white;
}

#index-activity-2 svg {
    fill: white;
}

/* cny2025.html */

#cny2025-light {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/activity-1.webp);
    background-size: 100% 30%;
    background-repeat: no-repeat;
    filter: blur(300em);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    scale: 130%;
}