{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<script>
    (function show() {
        //1.设置目的时间
        var oYear = 2025
        var oMonth = 0
        var oDay = 28
        var oHour = 11
        var oMinute = 0
        var oSecond = 0
        var funtureDate = new Date(oYear, oMonth, oDay, oHour, oMinute, oSecond);
        // console.log(dateFormat(funtureDate))
        //2.设置定时器
        setInterval(function () {
            //3.获取现在的时间
            var presentDate = new Date();
            //4.获取时间戳
            var funtureTime = funtureDate.getTime();
            var presenTime = presentDate.getTime();
            //5.获取剩余的时间戳
            var allTime = Math.abs(funtureTime - presenTime);
            //6.把毫秒转换为秒
            var allSecond = parseInt(allTime / 1000);
            //7.获取剩余多少天
            var day = size(parseInt(allSecond / 3600 / 24));
            //8.获取剩余多少小时
            var hour = size(parseInt(allSecond / 3600 % 24));
            //9.获取剩余多少分钟
            var minute = size(parseInt(allSecond / 60 % 60));
            //10.获取剩余多少秒
            var second = size(parseInt(allSecond % 60));
            //11.注入：
            document.getElementById('one').innerHTML = day;
            document.getElementById('two').innerHTML = hour;
            document.getElementById('three').innerHTML = minute;
            document.getElementById('four').innerHTML = second;
        }, 1000);
        //如果数>=10,则在前面补0
        function size(num) {
            return num < 10 & num >= 0 ? '0' + num : num;
        }
    })()
    //格式化日期格式 2
    function dateFormat(data) {
        var date = new Date(data);
        var YY = date.getFullYear() + '-';
        var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
        return YY + MM + DD;
    }
</script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

<div id="content-unit">
    <div id="index-light"></div>

    <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">UVA Emergency Alert: Police are looking for subject in the Lewis Mtn. neighborhood.
            Shelter in place. <a href="https://t.co/23dQbgXMG0">https://t.co/23dQbgXMG0</a></p>&mdash; UVA Police
        Division (@UVAPolice) <a
            href="https://twitter.com/UVAPolice/status/1894418586711855128?ref_src=twsrc%5Etfw">February 25, 2025</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endblock %}