{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<script>
    (function show() {
        //1.设置目的时间
        var oYear = 2025
        var oMonth = 0
        var oDay = 28
        var oHour = 11
        var oMinute = 0
        var oSecond = 0
        var funtureDate = new Date(oYear, oMonth, oDay, oHour, oMinute, oSecond);
        // console.log(dateFormat(funtureDate))
        //2.设置定时器
        setInterval(function () {
            //3.获取现在的时间
            var presentDate = new Date();
            //4.获取时间戳
            var funtureTime = funtureDate.getTime();
            var presenTime = presentDate.getTime();
            //5.获取剩余的时间戳
            var allTime = Math.abs(funtureTime - presenTime);
            //6.把毫秒转换为秒
            var allSecond = parseInt(allTime / 1000);
            //7.获取剩余多少天
            var day = size(parseInt(allSecond / 3600 / 24));
            //8.获取剩余多少小时
            var hour = size(parseInt(allSecond / 3600 % 24));
            //9.获取剩余多少分钟
            var minute = size(parseInt(allSecond / 60 % 60));
            //10.获取剩余多少秒
            var second = size(parseInt(allSecond % 60));
            //11.注入：
            document.getElementById('one').innerHTML = day;
            document.getElementById('two').innerHTML = hour;
            document.getElementById('three').innerHTML = minute;
            document.getElementById('four').innerHTML = second;
        }, 1000);
        //如果数>=10,则在前面补0
        function size(num) {
            return num < 10 & num >= 0 ? '0' + num : num;
        }
    })()
    //格式化日期格式 2
    function dateFormat(data) {
        var date = new Date(data);
        var YY = date.getFullYear() + '-';
        var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
        return YY + MM + DD;
    }
</script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

<div id="index-light"></div>

<div class="index-activity" id="index-activity-1" tabindex="1">
    <div class="index-a-title">
        <p id="text-n">无论多远 好好过年</p>
        <span id="text-n">
            <a href="../../pages/cny2025.html">
                更多年味
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                </svg>
            </a>
            <br>距离大年初一还有
        </span>
    </div>
    <div id="remainTime">
        <div id="days">
            <div id="one">00</div>天
        </div>
        <div id="hours">
            <div id="two">00</div>小时
        </div>
        <div id="minutes">
            <div id="three">00</div>分钟
        </div>
        <div id="seconds">
            <div id="four">00</div>秒
        </div>
    </div>
</div>

<div class="index-activity" id="index-activity-2" tabindex="1">
    <div class="index-a-title">
        <p id="text-n">The 67th Grammys</p>
        <span id="text-n">
            <a href="https://www.grammy.com/">
                8/7c
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path
                        d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                </svg>
            </a>
        </span>
    </div>
</div>
{% endblock %}